* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #000;
    overflow: hidden;
}

#node, #second-node {
    z-index: 30;
    position: absolute;
    background-color: #fff;
    width: 5vw;
    height: 5vw;
}

#second-node {
    display: none;
    transform: translate(-50%, -50%);
}

.union {
    z-index: 20;
    position: absolute;
    height: 20px;
    width: 0;
    background: linear-gradient(to right, red 50%, transparent 51%, transparent 100%);
}