* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #000;
    overflow: hidden;
}

#node {
    background-color: #fff;
    width: 5vw;
    height: 5vw;
}

.union {
    position: absolute;
    height: 20px;
    width: 0;
    background-color: red;
    transform: translateY(-50%);
}