* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #000;
}

#node {
    background-color: #fff;
    width: 5vw;
    height: 5vw;
}